* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	background-color: beige;
	font-size: 100%;
	width: 100%;
	height: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: circle;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/* оболочка */
.wrapperr {
	background-color: aqua;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
/* ограничивующий контеинер */
.wrapperr__contentss{
	box-shadow: 0 0 15px black;
	width: 1400px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: bisque;
}
/* шапка начало */
.content__tittle{
	height: 300px;
	background-image: url(/images/haih.svg);
	background-repeat: no-repeat;
	background-position: top;
	object-fit: cover;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@media(max-width: 700px){
	.content__tittle{
		height: 200px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

.tittle__img img{
	display: inline-block;
	object-fit: cover;
}
@media(max-width: 800px){
	.tittle__img img{
		width: 120px;
		height: 120px;
	}
}
@media(max-width: 700px){
	.tittle__img img{
		width: 120px;
		height: 120px;
		display: block;
		margin: 30px 0px 0px 0px;
	}
}
.tittle__nav a{
display: inline-block;
font-size: 22px;
margin: 0 10px;
color: black;
text-decoration: none;
background-color: white;
border-radius: 30px;
padding: 10px;
}
@media(max-width: 1200px){
	.tittle__nav a{
		font-size: 20px;
	}
}
@media(max-width: 1000px){
	.tittle__nav a{
		font-size: 14px;
	}
}
@media(max-width: 700px){
	#ts1{
		margin: 10px 20px 0px 0px;
		box-shadow: 0 0 5px black;
	}
	#ts2{
		margin: 10px 0px 0px 0px;
		box-shadow: 0 0 5px black;
	}
	#ts3{
		margin: 10px 0px 0px 0px;
		box-shadow: 0 0 5px black;
	}
}
.tittle__nav a:hover{
	background-color: black;
	color: white;
	box-shadow: 0 0 15px black;
	transition: 0.5s;
}
/* шапка конец */
/* ------------------------------------------ */
/* тело начало */
.content__photokard{
	display: flex;
	justify-content: center;
	align-items: center;
}

.photokard__wreps{
	background-image: url(/images/abstract-1850424_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	box-shadow: 0 0 15px black;
	height: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@media(max-width: 1200px){
	.photokard__wreps{
		height: 250px;
	}
}

@media(max-width: 1000px){
	.photokard__wreps{
		height: 220px;
		position: relative;
		margin: 0 0 100px 0;
	}
}
@media(max-width: 700px){
	.photokard__wreps{
		height: 150px;
		background-image: none;
		background-color: aqua;
		border-radius: 20px;
	}
}
.wreps__num h2{
	font-size: 100px;
	width: 120px;
	text-align: center;
	border-radius: 100%;
	background-color: white;
	box-shadow: 0 0 15px white;
}
@media(max-width: 1200px){
	.wreps__num h2{
		font-size: 45px;
		width: 60px;
	}
}

@media(max-width: 1000px){
	.wreps__num h2{
		font-size: 20px;
		width: 30px;
		position: absolute;
		top: 165px;
		left: 185px;
	}
}
@media(max-width: 700px){
	.wreps__num h2{
		font-size: 20px;
		width: 30px;
		height: 25px;
		position: absolute;
		top: 120px;
		left: 80px;
		background-color: blue;
		color: white;
}
}
.wreps__img img{
object-fit: cover;
}
@media(max-width: 1200px){
	.wreps__img img{
		width: 150px;
		height: 220px;
	}
}
@media(max-width: 1000px){
	.wreps__img img{
		width: 120px;
		height: 170px;
	}
}
@media(max-width: 700px){
	.wreps__img img{
		width: 90px;
		height: 130px;
		margin: 0px 0px 0px 5px;
		border-radius: 20px;
	}
}
.wreps__texxt li{
	font-size: 18px;
	list-style: circle;
	font-weight: 600;
	color: white;
}
@media(max-width: 1200px){
	.wreps__texxt li{
		font-size: 16px;
	}
}
@media(max-width: 1000px){
	.wreps__texxt li{
		font-size: 14px;
		line-height: 20px;
	}
}
@media(max-width: 700px){
	.wreps__texxt li{
		color: black;
		font-size: 12px;
		line-height: 16px;
	}
	.wreps__texxt{
		margin: 10px 0px 0px 0px;
	}
}


.wreps__navs a{
	background-color: white;
	border-radius: 100%;
	display: flex;
	flex-direction: row;
	margin: 20px 0px;
}
@media(max-width: 700px){
	.wreps__navs a{
		margin: 0px 5px 5px 0px;
	}
	.wreps__navs img{
		width: 30px;
		margin: 0;
		padding: 0;
	}
}
.wreps__navs a:hover{
	box-shadow: 0 0 15px white;
	background-color: aqua;
	border-radius: 100%;
}
/* тело конец */
/* ------------------------------------------------ */
/* footer start */
.conteiner__footer{
	background-image: url(/images/down.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0px;
	line-height: 200px;
	
}
@media(max-width: 1000px){
	.conteiner__footer{
		line-height: 0px;
	}
}
@media(max-width: 700px){
	.conteiner__footer{
		position: relative;
		background-size: cover;
		height: 100px;
	}
}
.footer__text p{
	font-size: 14px;
	margin: 0px 50px;
}
@media(max-width: 1000px){
	.footer__text p{
		margin: 0px 10px;
	}
}
@media(max-width: 700px){
	.footer__text p{
		margin: 0px 0px;
		position: absolute;
		top: 0px;
		left: 25px;
	}
}
.footer__logo1 img{
	object-fit: cover;
}
@media(max-width: 1000px){
	.footer__logo1 img{
		width: 120px;
		height: 120px;
		margin: 0 0 5px 5px;
	}
}
@media(max-width: 700px){
	.footer__logo1 img{
		display: none;
		margin: 0;
		padding: 0;
	}
}
.footer__navigation a{
	margin: 0px 10px;
}
@media(max-width: 700px){
	.footer__navigation a{
		margin: 0px 0px 0px 20px;
	}
	.footer__navigation img{
		background-color: white;
		border-radius: 100%;
	}
}
.footer__navigation a:hover{
	background-color: white;
	border-radius: 100%;
	box-shadow: 0 0 15px black;
}
/* -------------------------------------------------- */
	/* adaptiv mobile wrapper */
@media(max-width: 1500px){
	.wrapperr__contentss{
		max-width: 1200px;
	}
}
@media(max-width: 1300px){
	.wrapperr__contentss{
		max-width: 1000px;
	}
}
@media(max-width: 1100px){
	.wrapperr__contentss{
		max-width: 900px;
	}
}
@media(max-width: 1000px){
	.wrapperr__contentss{
		max-width: 800px;
	}
}