* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: beige;
  font-size: 100%;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrraper {
  height: 100%;
  background-color: beige;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrraper__conteiner {
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  background-color: white;
  max-width: 1400px;
}
.wrraper__conteiner .conteiner__title {
  background-image: url(/images/haih.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}
.wrraper__conteiner .conteiner__title .title__logo img {
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrraper__conteiner .conteiner__title .title__text1 p {
  font-size: 24px;
  padding: 0px 10px;
}
.wrraper__conteiner .conteiner__title .text1__input1 {
  padding: 0px 10px;
  font-size: 20px;
  color: purple;
}
.wrraper__conteiner .conteiner__title .text1__input1 .input1__strelka1 {
  margin: 0px 10px;
}
.wrraper__conteiner .conteiner__block1 {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 10px 0px;
}
.wrraper__conteiner .conteiner__block1 .block1__logotip img {
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrraper__conteiner .conteiner__block1 .block1__text2 p {
  font-size: 24px;
  padding: 0px 10px;
}
.wrraper__conteiner .conteiner__block1 .text2__input2 {
  padding: 0px 10px;
  font-size: 20px;
  color: purple;
}
.wrraper__conteiner .conteiner__block1 .text2__input2 .input2__strelka2 {
  margin: 0px 10px;
}
.wrraper__conteiner .conteiner__footer {
  background-image: url(/images/down.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 77px 0px 0px 0px;
  margin: 0px;
  line-height: 200px;
}
.wrraper__conteiner .conteiner__footer .footer__text p {
  font-size: 14px;
  margin: 0px 50px;
}
.wrraper__conteiner .conteiner__footer .footer__logo1 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.wrraper__conteiner .conteiner__footer .footer__navigation a {
  margin: 0px 10px;
}