@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Quintessential&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	background-color: beige;
	font-size: 100%;
	width: 100%;
	height: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}



.wrraper {
	background-color: beige;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	&__conteiner {
		padding: 0px;
		margin: 0px;
		box-shadow: 0 0 15px black;
		background-color: white;
		max-width: 1400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// шапка
		.conteiner__title{
			background-image: url(/images/haih.svg);
			background-repeat: no-repeat;
			background-position: top;
			background-size: contain;
			object-fit: cover;
			display: flex;
			align-items: center;
			text-align: right;
			.title__logo img{
				margin: 10px;
				object-fit: cover;
			}
			.title__text1 p{
				font-size: 24px;
				padding: 0px 10px;
			}
			.text1__input1 {
				padding: 0px 10px;
				font-size: 20px;
				color: purple;
				.input1__strelka1{
					margin: 0px 10px;
				}
			}
			.text1__input1 img:hover{
				box-shadow: 0 0 15px black;
				background-color: purple;
				border-radius: 100%;
			}
		}
		// шапка конец
		// тело начало
		.conteiner__block1{
			display: flex;
			align-items: center;
			text-align: left;
			margin: 10px 0px;
			.block1__logotip img{
				margin: 10px;
				object-fit: cover;
			}
			.block1__text2 p{
				font-size: 24px;
				padding: 0px 10px;
			}
			.text2__input2 {
				padding: 0px 10px;
				font-size: 20px;
				color: purple;
				.input2__strelka2{
					margin: 0px 10px;
				}
			}
			.text2__input2 img:hover{
				background-color: purple;
				box-shadow: 0 0 15px black;
				border-radius: 100%;
			}
		}
		// Важная информация блок
		.conteiner__wrapp{
			max-width: 100%;
			display: flex;
			text-align: left;
			align-items: center;
			.wrapp__imgs img{
				margin: 10px;
				object-fit: cover;
			}
			.wrapp__texts p {
				font-size: 16px;
				padding: 0px 10px;
			}
			.wrapp__texts h2 {
				font-size: 24px;
				padding: 0px 10px;
			}
			.wrapp__texts a {
				font-size: 24px;
				padding: 0 10px;
				color: purple;
			}
			
		}
		// важная информация конец
		// две кнопки главной страницы
		.conteiner__buttons{
			max-width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0px;
			margin: 0px;
			.buttons__wrapss{
				display: flex;
				padding: 5px;
				.wrapss__rules a{
					display: inline-block;
					font-size: 40px;
					margin: 0 20px;
					padding: 10px;
					background-color: purple;
					border-radius: 30px;
					text-decoration: none;
					color: white;
					font-family: 'Oleo Script Swash Caps', cursive;
					font-family: 'PT Sans', sans-serif;
					font-family: 'Quintessential', cursive;
				}
				.wrapss__buy a{
					display: inline-block;
					font-size: 40px;
					margin: 0 20px;
					padding: 10px;
					background-color: purple;
					border-radius: 30px;
					text-decoration: none;
					color: white;
					font-family: 'Oleo Script Swash Caps', cursive;
					font-family: 'PT Sans', sans-serif;
					font-family: 'Quintessential', cursive;
				}
				// стиль для кнопок
				.wrapss__rules a:hover{
					transition: 1s;
					color: black;
					box-shadow: 0 0 15px black;
				}
				.wrapss__buy a:hover{
					transition: 1s;
					color: black;
					box-shadow: 0 0 15px black;
				}
			}
		}
		// две кнопки главной страницы конец
	}
		// тело конец
		// подвал начало
		.conteiner__footer{
			background-image: url(/images/down.svg);
			background-repeat: no-repeat;
			background-position: bottom;
			background-size: cover;
			object-fit: cover;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin: 0px;
			line-height: 200px;
			.footer__text p{
				font-size: 14px;
				margin: 0px 50px;
			}
			.footer__logo1 img{
				object-fit: cover;
			}
			.footer__navigation a{
				margin: 0px 10px;
			}
			.footer__navigation a:hover{
				background-color: white;
				border-radius: 100%;
				box-shadow: 0 0 15px black;
			}
		}
		// подвал конец

	
}





